<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" ng-app="MIDIPlayer">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../styles/style.css" />
	<!-- polyfill -->
	<script src="../inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<script src="../inc/shim/WebMIDIAPI.js" type="text/javascript"></script>
	
	<!-- jasmid -->
	<script src="../inc/jasmid/stream.js"></script>
	<script src="../inc/jasmid/midifile.js"></script>
	<script src="../inc/jasmid/replayer.js"></script>

	<!-- midi.js package -->
	<script src="../js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../js/midi/gm.js" type="text/javascript"></script>
	<script src="../js/midi/loader.js" type="text/javascript"></script>
	<script src="../js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<script src="../js/midi/player.js" type="text/javascript"></script>

	<!-- utils -->
	<script src="../js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../js/util/dom_request_script.js" type="text/javascript"></script>
	<!-- lib -->
	<script src="../lib/angular.min.js" type="text/javascript"></script>
	<script src="../lib/jquery.min.js" type="text/javascript"></script>

	<!-- app -->
	<script src="../app/app.js" type="text/javascript"></script>
	<script src="../app/services/services.js" type="text/javascript"></script>
	<script src="../app/keys/keys.js" type="text/javascript"></script>
	<script src="../app/player/player.js" type="text/javascript"></script>

</head>

<body ng-controller="KeysController" ng-keydown="keydown($event)" ng-keyup="keyup($event)">
	<div class="nav-container">
		<div class="note-options">
			<form action="/">
				Note Duration: <input type="text" class="noteDuration" value=".75"><br>
				Note Volume: <input type="text" class="noteVelocity" value="127"><br>
				Note Delay: <input type="text" class="noteDelay" value="0"><br>
			</form>
		</div>

		<div class="play-options" ng-controller="PlayerController">
			<div class="file-options">
				File: <select ng-model="filename" name="filename" ng-options="file for file in files" ng-init="filename = filename || files[0]">
				</select>
				<div>
					Play Speed: <input type="text" id="playbackSpeed" value="1"> x
				</div>
			</div>
			<div class="player-controls">
				<div id="player-track-full" ng-click="setTime($event)">
					<div id="player-track"></div>
				</div>
				<input type="image" ng-click="play(filename)" src="../examples/images/play.png">
				<input type="image" ng-click="pause()" src="../examples/images/pause.png">
				<input type="image" ng-click="stop()" src="../examples/images/stop.png" >
			</div>
		</div>
	</div>

	<div id="piano">
		<div class="keys" ng-repeat="key in data.keys">
			<div id="{{key}}" class="key" ng-class="keyColor(key)" ng-mousedown="playNote(key)">
				<div>{{keyboardKey(key)}}</div>
				<span>{{key}}</span>
			</div>
		</div>
	</div>

	<script type="text/javascript">

	window.onload = function () {
		// $('#player-track-full').width(200);
	};

	</script>
</body>
</html>